.login-page {
    overflow: hidden;
    min-height: 100%;
  }
.alert-info {
  margin-left: 0;
  margin-right: 0;
}
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}
span.inputError {
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.login-page{
  margin: 10vh auto;
  width: 450px;
}