<div class="row" *ngIf="alertMessage">
    <div class="col-lg-12">
        <div class="alert alert-{{ alertMessage.type }}">
            <h4>
                <i [ngClass]="{ 'icon fa': alertMessage, 'fa-check': alertMessage.type === 'success', 'fa-warning': alertMessage.type === 'danger' }"></i> 
                {{ alertMessage.title | titlecase }}
            </h4>
                {{alertMessage.message }}
        </div>
    </div>
</div>