<div class="row">
    <div class="page-header">
        <h1>Welcome, <small>{{ userInfo.displayName }}</small></h1>
        <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
</div>

